.shippingInfo {
  display: flex;
  justify-content: space-around;
  background-color: #f6f6f6;
  padding: 16px;
  border-radius: 4px;
  margin-top: 16px;
  .left {
    padding-right: 20px;
  }
  p {
    margin-bottom: 8px;
    color: #666;
    &:last-child {
      margin-bottom: 0;
    }
  }
}